@model IEnumerable<Agenda.Models.POCO.Evaluation>
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <img src="~/image/banniere.svg" style="max-width:100%;" />
</header>
<h1>@ViewData["Title"]</h1>

<p>
    Bienvenue sur mon site Ré-partout !<br />
    Je me nomme Rémy Partou et je répare tous vos problèmes informatique partout en Belgique !<br />
    Pour n’importe quel problème, Rémy est là pour vous aider !<br />
    Alors n’attendez-plus et prenez rendez-vous<br />
</p>
<p>
    Toujours pas convaincu ? Regardez ce que disent ces utilisateurs de moi :

</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)<img src="~/image/eval.png" style="width:32px; height:32px; margin-left:25px;" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)<img src="~/image/comment.svg" style="width:32px; height:32px; margin-left:25px;" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RendezVous.Service.Name)<img src="~/image/service.png" style="width:32px; height:32px; margin-left:25px;" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RendezVous.Service.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
<p>Mon taux de confiance sur 5 en moyenne est de @ViewBag.Average/5</p>
