@model IEnumerable<Agenda.Models.POCO.RendezVous>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="myButton1">Edit</a> | |
                <a asp-action="Delete" asp-route-id="@item.ID" class="myButton1">Delete</a>
                <a asp-action="Create" asp-controller="Evaluations" asp-route-id="@item.ID" class="myButton1">Evaluer le rendez-vous</a>

            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
